.comp{

  padding: 30px;
  width: 75%;
  text-align: center;
}
.btn{
  margin: 30px;
}
.container{
  text-align: center;
  margin: 0 auto;
  border: 2px solid blue;
  padding: 10px;

}
.container_2{

  display: flex;
  flex-wrap: wrap;
 
  justify-content: space-around;
  

}
.container_2 img{
  width: 230px;
  height:230px;
  border: 1px solid green;
  margin: 20px;
  padding: 10px;
}

.container_2 img:hover{
  box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
  
}